  <nav class="navbar navbar-dark " aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">Test stranica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header bg-info">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"> </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-info">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Pocetna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('vreme')}}">Vreme</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Horoskop
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ovan</a></li>
                <li><a class="dropdown-item" href="#">Bik</a></li>
                <li><a class="dropdown-item" href="#">Blizanci</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
