
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.kontejner {
    padding: 0;
}

nav {
    background-color: var(--bs-cyan)

}


footer {
    background-color: var(--bs-cyan)
}

.vreme-slika {
    width: 36px;
}
.vreme-naslov {
    text-align: center;
    margin-top: 5px;
}
.vreme {
    margin: 20px auto;
}

.slika {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slika-temp {
    display: flex;
    justify-content: center;
}