
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.kontejner {
    padding: 0;
}

nav {
    background-color: var(--bs-cyan)
}


footer {
    background-color: var(--bs-cyan)
}

.nav-link {
    font-size: 1.1rem;
}
.vicdugme {
    margin: 20px auto;
    background-color: #d0d0d0;
    color: black;
    border: none;
}
.mod-box1 {
    display: flex;
    justify-content: space-around;

}





